body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("wallpaper/blog-1.jpg");
    background-color: #161617;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    font-family: "Avenir", serif;
    color: white;
    height: 100%;
    width: 100%;
}
div.all{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    margin-top: -8px;
    padding: 0;
    height: auto;
    width: auto;
}

/*Middle Content Style*/
div.main{
    margin-left: 60px;
    margin-right: 60px;
    flex: 1;
}
p.title{
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #424242, #424242);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
}
/*********End*********/


/*Top Navigation Bar Style*/
div.top-navi {
    background-color: #000000c8;
    margin: 0 0 0 0;
    flex: 1;
    position: fixed;
    padding: 10px 0 0 60px;
    width: 100%;
    height: 50px;
}

div.top-navi a {
    /*float: left;*/
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 0;
}

div.top-navi a:hover {
    border-radius: 4px;
    color: #919191;
}

div.top-navi a.active {
    background-color: #919191;
    border-radius: 4px;
    color: white;

}
/*********End*********/


/*End Foot Notes Style*/
div.foot-notes{
    margin-left: 60px;
    margin-right: 60px;
    flex: 1
}
hr.line{
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 20px 0 5px;

}
div.foot-notes-contents{
    display: inline-block;
    width: 100%;
}
p.foot-note-name{
    font-family: "Avenir",serif;
    font-size: 14px;
    color: white;
    margin-top: -35px;
    padding: 0;
    text-align: right;
}
/*********End*********/

img.strawberry-1{
    overflow: auto;
    border-radius: 8px;
    width: 35%;
    height: 100%;
    margin-left: 40px;
    margin-bottom: 100px;
    transition: transform 1s ease-in-out;
}
img.strawberry-1:hover{
    transform: rotateZ(360deg);
}
img{
    overflow: auto;
    border-radius: 8px;
    width: 2.5%;
    height: 2.5%;
    transition: transform 0.2s ease-in-out;
}
img:hover{
    transform: scale(1.5);
}