body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("wallpaper/home.jpg");
    background-color: #161617;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    font-family: "Avenir", serif;
    color: antiquewhite;
    height: 100%;
    width: 100%;
}
div.all{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    margin-top: -8px;
    padding: 0;
    height: auto;
    width: auto;
}

/*Middle Content Style*/
div.main{
    margin-left: 150px;
    margin-right: 60px;
    margin-top: 200px;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
    div.main {
        margin-left: 150px;
        margin-right: 60px;
        display: flex;
        flex-direction: column;
    }
    div.about-me{
        margin: 150px 0 10px 0;
    }
    img.strawberry-1{
        overflow: auto;
        border-radius: 8px;
        width: 400px;
        height: 100%;
        margin-top: 0;
        transition: transform 2s ease-in-out;
    }
    img.strawberry-1:hover{
        transform: rotateZ(360deg);
    }
}
div.about-me{
    margin: 0 100px 100px 0;
}
div.about-me p{
    max-width: 700px; /* Adjust the maximum width as needed */
    overflow: auto;
}
p.about-me-title{
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 0;
    /*text-align: center;*/
    font-weight: bold;
    background: linear-gradient(to right, antiquewhite, antiquewhite);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
}
p.about-me-occupation{
    font-size: 35px;
    font-weight: bold;
    margin: -10px 0 20px;
    /*text-align: center;*/
    -webkit-text-stroke: 1px #ffa7c6; /* Adjust the stroke width and color as needed */
    -webkit-text-fill-color: transparent;
}
p.about-me-details{
    font-size: 20px;
    margin: 0;
    /*text-align: center;*/
    color: antiquewhite;
}
img.strawberry-1 {
    overflow: auto;
    border-radius: 8px;
    width: 400px;
    height: 100%;
    transition: transform 2s ease-in-out;
}

img.strawberry-1:hover {
    transform: rotateZ(360deg);
}
/*********End*********/


/*Extra Contents*/
div.extra{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    flex: 1;
}
p.more-about-me{
    margin-left:10px;
}
div.rows-1{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    margin: 5px;
}
div.rows-2{
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}
div.rows-2 div{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.rows-2 p{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}
div.rows-2 div img{
    width: 70%;
    height: 70%;
    margin: 0;
    transform: none;
}
div.rows-2 div:hover{
    transform: translateY(-6%);
    cursor: pointer;
}
/*********End*********/


/*Top Navigation Bar Style*/
div.top-navi {
    background-color: #000000c8;
    margin: 0 0 0 0;
    position: fixed;
    padding: 10px 0 0 60px;
    width: 100%;
    height: 50px;
    z-index: 9999;
}
div.top-navi a {
    color: antiquewhite;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    margin: 5px;
}

div.top-navi a:hover {
    border-radius: 4px;
    color: #ff85b3;
}

div.top-navi a.active {
    background-color: #ff85b3;
    border-radius: 4px;
    color: antiquewhite;

}
/*********End*********/



/*End Foot Notes Style*/
div.foot-notes{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    flex: 1
}
hr.line{
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 20px 0 5px;

}
div.foot-notes-contents{
    display: inline-block;
    width: 100%;
}
div.foot-notes-contents img{
    margin: 5px 3px 0 0;
}
p.foot-note-name{
    font-family: "Avenir",serif;
    font-size: 14px;
    color: white;
    margin-top: -35px;
    padding: 0;
    text-align: right;
}
/*********End*********/




/*Other Style*/
button{
    width: 348px;
    height: 50px;
    border: 2px solid antiquewhite;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 24px;
    background-color: transparent;
    font-family: "Avenir", serif;
    color: antiquewhite;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}
button:hover{
    background-color: antiquewhite;
    color: black;
}
img{
    overflow: auto;
    border-radius: 8px;
    width: 2.5%;
    height: 2.5%;
    transition: transform 0.2s ease-in-out;
}
img:hover{
    transform: scale(1.5);
}
