body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("wallpaper/photo.jpg");
    background-color: #161617;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    font-family: "Avenir", serif;
    color: #fedfa4;
    height: 100%;
    width: 100%;
}
div.all{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    margin-top: -8px;
    padding: 0;
    height: auto;
    width: auto;
}

/*Middle Content Style*/
div.main{
    margin-left: 60px;
    margin-right: 60px;
    flex: 1;
}
p.title{
    font-size: 70px;
    font-family: "Snell Roundhand", cursive;
    margin-bottom: 20px;
    margin-top: 200px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #ff2600, #fffb00);
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
}
/*********End*********/

/*Photo Gallery Design*/
div.grid-container {
    columns: 4 200px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 60px auto 0;
    transition: all .25s ease-in-out;
}

div.grid-container div {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px #fedfa450;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    transition: all .25s ease-in-out;
}
div.grid-container div:hover {
    border-color: coral;
}
div.grid-container div:hover img {
    cursor: pointer;
    filter: grayscale(0);
}
div.grid-container div img {
    width: 100%;
    filter: grayscale(100%) sepia(100%) hue-rotate(-10deg);
    border-radius: 8px;
    transition: all .25s ease-in-out;
    margin-bottom: -8px;
}
div.highlight-window{
    display: flex;
    position: fixed;
    z-index: 0;
    background-color: #ffffff00;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 8% 20% 8% 10%;
    opacity: 0;
    overflow: auto;
    max-width: 1100px;
    max-height: 450px;
    min-width: 80%;
    min-height: 80%;
    transition: all 0.6s ease-in-out;
    border: solid 2px #fedfa450;
}
div.highlight-window img:hover{
    cursor: pointer;
}
div.highlight-window img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


/*Top Navigation Bar Style*/
div.top-navi {
    background-color: #000000c8;
    margin: 0 0 0 0;
    flex: 1;
    position: fixed;
    padding: 10px 0 0 60px;
    width: 100%;
    height: 50px;
    z-index: 999;
}

div.top-navi a {
    /*float: left;*/
    color: #fedfa4;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 0;
}

div.top-navi a:hover {
    border-radius: 4px;
    color: #ff8c13;
}

div.top-navi a.active {
    background-color: #ff8c13;
    border-radius: 4px;
    color: white;

}
/*********End*********/


/*End Foot Notes Style*/
div.foot-notes{
    margin-left: 60px;
    margin-right: 60px;
    flex: 1
}
hr.line{
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 20px 0 5px;

}
div.foot-notes-contents{
    display: inline-block;
    width: 100%;
}
p.foot-note-name{
    font-family: "Avenir",serif;
    font-size: 14px;
    color: white;
    margin-top: -35px;
    padding: 0;
    text-align: right;
}
/*********End*********/
