body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("DSC0E0464.jpg");
    background-color: black;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    font-family: "Avenir", serif;
    color: antiquewhite;
}
div.all{
    align-content: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.title{
    font-size: 36px;
    margin-bottom: 20px;
}
button{
    width: 348px;
    height: 50px;
    border: 2px solid antiquewhite;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 24px;
    background-color: transparent;
    font-family: "Avenir", serif;
    color: antiquewhite;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}
button:hover{
    background-color: antiquewhite;
    color: black;
}

/*Top Navigation Bar Style*/
div.top-navi {
    overflow: hidden;
    background-color: #91919130;
    border-radius: 8px;
    margin-left: 60px;
    margin-right: 60px;
}

div.top-navi a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 8px;
}

div.top-navi a:hover {
    border-radius: 8px;
    color: #c0c0c0;
}

div.top-navi a.active {
    background-color: #cc2e54;
    color: white;
    border-radius: 8px;
}
