::selection {
    background: rgb(0,0,0,0.3);
}
div.main-1{
    width: 100%;
    /*background: linear-gradient(180deg, #c8e68f, #c8e68f);*/
    background-color: #c8e68f;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
div.main-2{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
p.page-title{
    font-size: clamp(50px, 5vw, 80px);
    font-family: 'dystopian', serif;
    color: #222222;
    text-align: center;
}
p.page-subtitle{
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'nasalization', serif;
    text-align: center;
    color: #424242;
}
/*85:50*/
div.profile{
    opacity: 1;
    color: antiquewhite;
    cursor: default;
    background: url("resources/profile/profilebg-1.jpg");
    background-size: cover;
    font-family: 'nasalization', serif;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 85vw;
    height: 50vw;
    max-width: 595px;
    max-height: 350px;
    min-width: 255px;
    min-height: 150px;
    padding: 15px;
    margin: 0 0 100px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
div.profile::before{
    opacity: 0;
    --mouse-x: inherit;
    --mouse-y: inherit;
    border-radius: 8px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    transition: 0.3s all ease-in-out;
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.5), transparent 40%);
}
div.profile{
    filter: drop-shadow(calc(-0.1 * var(--mouse-x)) calc(0.1 * var(--mouse-y)) 10px rgba(0, 0, 0, 0.4));
}
div.profile:hover::before{
    opacity: 1;
}
div.profile-info{
    display: flex;
    flex-direction: row;
    align-self: start;
    padding: 0;
    margin: 0;
    float: left;
}
div.profile-info-text{
    display: flex;
    flex-direction: column;
}
img.profile-pic{
    width: 15vw;
    height: 15vw;
    max-width: 160px;
    max-height:160px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 5px;
    margin-right: 20px;
    opacity: 70%;
}
p.name{
    font-weight: bold;
    font-size: clamp(24px, 4vw, 35px);
    margin-bottom: 10px;
    white-space: nowrap;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}
p.description{
    font-size: clamp(10px, 2vw, 14px);
    white-space: nowrap;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}
p.profile-id{
    align-self: center;
    font-size: clamp(12px, 2vw, 18px);
    white-space: nowrap;
    color: #2d2d2d;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
}
p.year{
    position: absolute;
    right: 5px;
    writing-mode: vertical-rl;
    font-size: 12px;
    color: lightgreen;
}

/*MAIN II*/
p.section-title{
    font-size: clamp(28px, 4vw, 48px);
    font-family: 'dystopian', serif;
    color: #222222;
    text-align: center;
}
p.section-subtitle{
    font-size: clamp(10px, 3vw, 30px);
    font-family: 'dystopian', serif;
    color: gray;
    text-align: center;
}
div.content{
    width: 85vw;
    max-width: 595px;
    min-width: 255px;
    color: #222222;
    margin-bottom: 10px;
    text-align: justify;
}
p.intro{
    font-family: 'nasalization', serif;
    font-size: clamp(12px, 3vw, 20px);
}
div.socials{
    width: 85vw;
    height: 70px;
    max-width: 595px;
    min-width: 255px;
    background: url("resources/profile/profilebg-2.jpg") center;
    background-size: cover;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
img.social{
    width: 4vw;
    min-width: 50px;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
}
img.social:hover{
    transform: scale(1.2);
}
div.activities{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 255px;
    background-color: #222222;
    width: 100%;
    height: 300px;
    overflow: scroll;
}
div.activities div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.activities img{
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
    margin: 10px;
    filter: grayscale(100%);
}
div.activities img:hover{
    filter: grayscale(0);
}
p.activities-title{
    font-family: nasalization, serif;
    transition: 0.3s all ease-in-out;
    color: antiquewhite;
}



/*BUTTONS*/
div.buttons{
    width: 85vw;
    max-width: 595px;
    min-width: 255px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.buttons button{
    cursor: pointer;
    width: 20vw;
    max-width: 240px;
    min-width: 160px;
    height: 42px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: nasalization, serif;
    font-weight: bold;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
    transition: 0.3s all ease-in-out;
}
div.buttons button:hover{
    transform: scale(1.02);
}
button.view-project{
    color: #12463d;
    background-color: #c8e68f;
}
button.download-resume{
    color: #c8e68f;
    background-color: #12463d;
}


div.footer{
    width: 100%;
    background-color: #222222;
    height: 40px;
    color: #c8e68f;
    justify-content: center;
    align-items: center;
    font-family: 'nasalization', serif;
    text-align: center;
    padding: 0;
    font-size: 12px;
}
div.footer img{
    width: 12px;
}





