<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#222222">
    <meta name="author" content="$author$"/>
    <meta name="description" content="$description$"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="../../assets/imgs/mango.png">
    <link rel="stylesheet" type="text/css" href="../../assets/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/blog-post.css"/>
    <script src="../../assets/js/base.js" defer></script>
    <script src="../../assets/js/blog-post.js" defer></script>
    <title>Blog | $title$</title>
</head>
<body>
<nav class="nav-bar" id="nav-bar">
    <p class="nav-bar-title">P</p>
    <a href="/">HOME</a>
    <a href="/projects">PROJECT</a>
    <a href="/films">FILM</a>
    <a href="/blogs" class="active">BLOG</a>
    <i class="bi bi-list" id="nav-list-btn" onclick="toggleNav(true)"></i>
    <i class="bi bi-x-lg" id="nav-close-btn" onclick="toggleNav(false)"></i>
</nav>
<main>
    <div class="blog-post">
        <div class="blog-post-content">
            $body$
        </div>
    </div>
</main>
<footer>
    <div class="footer-minimize-btn"></div>
    <div class="footer-content">
        <div class="nav-logo">
            <p class="footer-subtitle clock" id="clock">00:00:00</p>
            <img alt="" src="../../assets/imgs/mango.png"/>
        </div>
        <div class="nav-links">
            <p class="footer-subtitle">LINKS</p>
            <a href="#">HOME</a>
            <a href="#">PROJECT</a>
            <a href="#">FILM</a>
            <a href="#">BLOG</a>
        </div>
        <div class="social-links">
            <p class="footer-subtitle">Social</p>
            <a><i class="bi bi-github"></i>&nbsp;&nbsp;GITHUB</a>
            <a><i class="bi bi-linkedin"></i>&nbsp;&nbsp;LINKEDIN</a>
            <a><i class="bi bi-instagram"></i>&nbsp;&nbsp;INSTAGRAM</a>
            <a><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;EMAIL</a>
        </div>
    </div>
    <div class="footer-note">
        <p>少しの勇気と想像力</p>
    </div>
    <p class="footer-name">LINYUN</p>
</footer>
</body>
</html>