@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark: #222222;
    --light: whitesmoke;
    --bg-color: whitesmoke;
    --light-2: #22222210;
}
::selection{
    background-color: #22222230;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: var(--dark);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
    gap: 10px;
}
p{
    margin: 0;
}
p.nav-bar-title{
    font-family: "Bungee", serif;
    color: var(--light);
    font-size: 35px;
    margin-right: 10px;
}
nav.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: var(--dark);
    padding: 15px 10px;
    font-family: "Fjalla One", serif;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 1000;
    transition: height 0.3s ease-in-out;
}
nav a{
    color: var(--light);
    font-size: 18px;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in-out;
}
nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
nav a:hover::after {
    transform: scaleX(1);
}
nav a.active{

}
i.bi-list, i.bi-x-lg{
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: var(--light);
    display: none;
}
i.bi-list{
    font-size: 30px;
}
i.bi-x-lg{
    font-size: 30px;
}
div.footer-minimize-btn{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: dimgray;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--dark);
    border-radius: 30px 30px 0 0;
    padding: 40px 40px 0 40px;
}
div.footer-content{
    width: 94vw;
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: start;
    margin-bottom: clamp(20px, 2vw, 40px);
    gap: 4vw;
    /*transition: all 0.2s ease-in-out;*/
}
div.footer-content div{
    display: flex;
    flex-direction: column;
    font-family: "Fjalla One", serif;
    gap: 8px;
}
div.footer-content div p.footer-subtitle{
    color: var(--light);
    font-size: clamp(22px, 2vw, 40px);
    margin-bottom: 5px;
}
div.footer-content div:not(:first-child) p.footer-subtitle{
    font-family: "Bungee", serif;
}
div.footer-content div:first-child p.footer-subtitle{
    font-family: "Courier New", monospace;
    font-weight: bold;
}
div.footer-content div a{
    display: inline-block;
    text-decoration: none;
    color: var(--light);
    font-size: clamp(14px, 2vw, 20px);
    cursor: pointer;
    position: relative;
    width: fit-content;
    letter-spacing: 1px;
}
div.footer-content div a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
div.footer-content div a:hover::after {
    transform: scaleX(1);
}
div.nav-logo img{
    width: 20vw;
    max-width: 140px;
    filter: grayscale(100%);
}
div.footer-note{
    width: 94vw;
}
div.footer-note p{
    color: var(--light);
    font-family: 'Ubuntu', serif;
    font-weight: bold;
    align-self: start;
    font-size: 5vw;
    margin: 10px 0 0 0;
}
p.footer-name {
    color: var(--light);
    font-family: 'Ubuntu', serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    font-size: 20vw;
    white-space: nowrap;
    transform-origin: center;
    transform: scaleX(1.3); /* adjust based on padding (40px * 2) */
}


/* Mobile Styles */
@media (max-width: 600px) {
    nav.nav-bar.expand {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* Hide all links when not expanded */
    nav.nav-bar a {
        display: none;
    }
    /* Show links only when expanded */
    nav.nav-bar.expand a {
        display: block;
    }
    /* Show hamburger when collapsed */
    i.bi-list {
        display: block;
    }
    nav.nav-bar.expand i.bi-list {
        display: none;
    }
    nav.nav-bar.expand i.bi-x-lg {
        display: block;
        top: 15px;
    }
    div.footer-content{
        justify-content: space-between;
    }
}