div.blog-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--dark);
    padding: 4vw;
    margin-top: 50px;
    min-height: 800px;
}
div.blog-post-content{
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
    margin: 20px 0 5px 0;
    font-family: 'Lobster', sans-serif;
}
p{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}
blockquote{
    margin: 20px 20px 20px 0;
    padding: 2px 2px 2px 20px;
    border-left: 2px solid var(--dark);
    font-family: 'Ubuntu', sans-serif;
    color: dimgray;
    font-style: italic;
}
ol{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
li{
    margin-bottom: 5px;
    line-height: 1.3;
}
img{
    width: 100%;
}
iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}






table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: var(--dark);
    overflow: scroll;
}
th, td {
    padding: 12px 15px;
    border: 1px solid dimgray;
    text-align: left;
    white-space: nowrap;         /* keep text on one line */
    max-width: 150px;            /* set a limit for width */
    overflow-x: auto;            /* enable horizontal scroll */
    overflow-y: hidden;          /* disable vertical scroll */
}
th {
    position: sticky;
    top: 0;
    z-index: 2;               /* keep header above table body */
    background-color: #222222;
    color: var(--light);
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #22222220;
}

code{
    padding: 0 5px;
    background-color: #22222220;
    border-radius: 4px;
}
pre{
    margin-top: 10px;
    background-color: #22222210;
    overflow: scroll;
    max-height: 600px;
    padding: 10px;
}
pre code{
    background-color: #22222200;
    padding: 0 0
}





@media (max-width: 600px){
    div.blog-post-content{
        width: 100%;
    }
}