div.section-1{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 30px;
    border: 1px dashed var(--dark);
    padding: 14vw 4vw 14vw 4vw;
    position: relative;
}
i.bi-chevron-compact-down{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    color: darkgray;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
i.bi-chevron-compact-down.hidden {
    opacity: 0;
    pointer-events: none;
}
a.more-blog-btn{
    font-family: "Fjalla One", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    margin: 20px 0 0 8px;
    color: var(--dark);
}
a.more-project-btn{
    font-family: "Fjalla One", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    margin: 20px 0 0 0;
    color: var(--dark);
}
div.intro{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    height: 100%;
    padding: 10px;
}
p.intro-title{
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    font-size: clamp(50px, 8vw, 60px);
    color: var(--dark);
}
div.intro-roles{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}
div.intro-roles p{
    color: var(--light);
    font-family: "Ubuntu", sans-serif;
    background-color: var(--dark);
    padding: 10px;
    font-size: 16px;
    width: 180px;
    text-align: center;
    align-content: center;
}
p.intro-content{
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
div.recent-blog-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
div.recent-blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}
div.recent-blog a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-left: 2px solid transparent; /* no left border initially */
    transition: border-left, background-color 0.3s ease-in-out; /* smooth animation */
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
div.recent-blog a:hover{
    border-left: 2px solid var(--dark);
    background-color: var(--light-2);
}
p.recent-blog-title{
    font-family: "Bungee", sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 8px;
    color: var(--dark);                     /* make fill invisible */
    /*-webkit-text-stroke: 2px var(--dark);  !* outline color and thickness *!*/
    position: relative;
}
p.blog-title{
    font-family: "Fjalla One", sans-serif;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--dark);
}
p.blog-description{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: var(--dark);
    /*white-space: nowrap;*/        /* keep text on one line */
    /*line-height: 1.4em;           !* control spacing *!*/
    display: -webkit-box;           /* required for multi-line ellipsis */
    -webkit-box-orient: vertical;   /* vertical stacking */
    -webkit-line-clamp: 3;          /* number of lines to show */
    overflow: hidden;               /* hide overflowing text */
    text-overflow: ellipsis;        /* optional, for consistency */
    max-height: calc(1.4em * 3);    /* optional, matches line clamp */
}

div.section-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px dashed var(--dark);
    padding: 4vw;
}
p.recent-project-title{
    font-family: "Bungee", sans-serif;
    font-size: 40px;
    color: var(--dark);
    margin-left: 5px;
    position: relative;
}
div.projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}
a.grid-item {
    flex: 1 1 calc(33.333% - 10px); /* 3 per row */
    min-width: 250px;                /* wrap if too narrow */
    aspect-ratio: 4 / 3;             /* keep fixed ratio */
    text-decoration: none;
    padding: 5px;
    border: 1px solid var(--dark);
    background-color: var(--light-2);
}
a.grid-item img{
    width: 100%;
    aspect-ratio: 4 / 3;
    filter: grayscale(1);
}
p.project-title{
    color: var(--dark);
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    font-size: 22px;
    display: -webkit-box;           /* required for multi-line ellipsis */
    -webkit-box-orient: vertical;   /* vertical stacking */
    -webkit-line-clamp: 1;          /* number of lines to show */
    overflow: hidden;               /* hide overflowing text */
    text-overflow: ellipsis;        /* optional, for consistency */
}
p.project-keywords{
    color: var(--dark);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    display: -webkit-box;           /* required for multi-line ellipsis */
    -webkit-box-orient: vertical;   /* vertical stacking */
    -webkit-line-clamp: 1;          /* number of lines to show */
    overflow: hidden;               /* hide overflowing text */
    text-overflow: ellipsis;        /* optional, for consistency */
}
p.project-description{
    color: var(--dark);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;           /* required for multi-line ellipsis */
    -webkit-box-orient: vertical;   /* vertical stacking */
    -webkit-line-clamp: 2;          /* number of lines to show */
    overflow: hidden;               /* hide overflowing text */
    text-overflow: ellipsis;        /* optional, for consistency */
}

div.section-3{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px dashed var(--dark);
    padding: 4vw;
    gap: 30px;
}
div.tv-player{
    width: 50%;
    aspect-ratio: 4 / 3;
    background-color: var(--dark);
    position: relative;
    box-shadow:
        1px -1px 0 #555,
        2px -2px 0 #666,
        3px -3px 0 #777,
        4px -4px 0 #888,
        5px -5px 0 #999;
}
div.tv-description{
    width: 50%;
    min-height: 100%;
    /*border: 1px dashed var(--dark);*/
    display: flex;
    flex-direction: column;
    margin-top: -10px
}
p.tv-description-title {
    font-family: "Bungee", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}
p.tv-description-content{
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
p.quote-content{
    font-family: "Ubuntu", sans-serif;
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
    border-left: 2px solid var(--dark);
    padding-left: 10px;
}
p.binaries{
    font-family: "Space", monospace;
    font-size: 24px;
    word-wrap: break-word;   /* allow long words to break */
    overflow-wrap: break-word; /* modern property for the same */
    white-space: normal;     /* ensure normal wrapping */
    color: dimgray;
    /*border-left: 2px solid var(--dark);*/
    /*padding-left: 10px;*/
    position: relative;
}
span.decode-me-indicator{
    pointer-events: none;
    font-family: "Lobster", sans-serif;
}
video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
    /*border: 2px solid dimgray;*/
}
div.tv-player:hover div.tv-player-actions{
    display: flex;
}
div.tv-player-actions{
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    flex-direction: row;
    gap:10px;
    font-family: "Ubuntu", sans-serif;
}
div.tv-player-actions a{
    text-decoration: none;
    color: var(--light);
    padding: 5px 10px;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    cursor: pointer;
    font-size: 12px;
}

@media (max-width: 600px) {
    div.section-1{
        flex-direction: column;
        padding: 10px 10px 20px 10px;
        gap: 10px;
    }
    div.intro{
        width: 100%;
    }
    div.recent-blog-container{
        width: 100%;
    }
    div.recent-blog{
        width: 100%;
        padding-left: 0;
    }
    div.section-2{
        padding: 10px;
    }
    div.section-3{
        flex-direction: column;
        padding: 10px
    }
    div.tv-player{
        width: 100%;
    }
    div.tv-description{
        width: 100%;
    }
    i.bi-chevron-compact-down{
        display: none;
    }
}

span.blog-loader{
    width: 20px;
    height: 20px;
    border: 4px solid var(--dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}
span.proj-loader{
    width: 28px;
    height: 28px;
    border: 5px solid var(--dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
